.metadata
debian/opi-webbackend
debian/opi-webbackend.substvars
debian/opi-webbackend.*.log
debian/files
standalone/web/nbproject
standalone/web/data/test.db
backend/debian/opi-webbackend
backend/debian/opi-webbackend.*.log
backend/debian/files
backend/debian/*substvars
*tar.*z
opi-webbackend*.deb
opi-webbackend*.dsc
opi-webbackend*.changes
opi-webbackend*.upload
*~
web/nbproject
/web/nbproject/private/
target
